[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=missing-module-docstring, missing-class-docstring, missing-function-docstring, unspecified-encoding, no-name-in-module

[basic]
attr-rgx=([a-zA-Z]{2,30}$|[a-z_][a-zA-Z0-9_]{1,30}$)
variable-rgx=([a-zA-Z]{2,30}$|[a-z_][a-zA-Z0-9_]{1,30}$)
argument-rgx=([a-zA-Z]{2,30}$|[a-z_][a-zA-Z0-9_]{1,30}$)